

/************ ComboBox **************/
.StdUI_ComboBox{
    position: relative;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #474442;
    border:1px solid #B2AFAC;
    overflow: hidden;
    border-radius: 2px;
    transition: background 0.12s,border-color 0.2s;
    background: #E0DDDA;
    background: linear-gradient(to bottom,#E1DEDB 0%,#D9D6D3 100%);
    box-shadow: 1px 1px 1px rgba(184,181,179,0.7),0 0 1px #E1DEDB inset;
    outline:none;
}
.StdUI_ComboBox.hover{
    border-color: #6FD6FE;
}
.StdUI_ComboBox.focus{
    border-color: #95BCDA;
    box-shadow: 1px 1px 1px rgba(184,181,179,0.7),0 0 3px rgba(153,201,255,0.7);
}
.StdUI_ComboBox > ._input{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    color: #474442;
    text-indent: 5px;
    background: transparent;
}
.StdUI_ComboBox > ._content{
    float: left;
    height: 24px;
    text-indent: 5px;
    line-height: 24px;
}
.StdUI_ComboBox > ._handle{
    float: right;
    height: 24px;
    width: 22px;
    transition: all 0.14s;
    background: url("images/StdUI_Global.png") -3px 2px no-repeat;
}
.StdUI_ComboBox > ._handle.open{
    transform: rotate(180deg);
}

.StdUI_ComboBox.input{
    border:1px solid #B1B3B0;
    background: white;
}
.StdUI_ComboBox.input.hover,
.StdUI_ComboBox.input.hover{
    border-color: #6FD6FF;
}

.StdUI_ComboBox.input.focus,
.StdUI_ComboBox.input.focus{
    border-color: #4AABDB;
}

/************ ComboBox list **************/
.StdUI_ComboBoxList{
    display: none;
    position: absolute;
    background: white;
    overflow: auto;
    border:1px solid #B2AFAC;
    border-top: 0;
    padding: 1px;
    box-shadow: 1px 1px 1px rgba(184,181,179,0.7),0 0 1px #E1DEDB inset;
}

.StdUI_ComboBoxList > .StdUI_TemplateItem{
    clear: both;
}
.StdUI_ComboBoxList > .StdUI_TemplateItem.selected{
    background: #3AA7DD;
    color: white;
}

/************ ComboBoxItem **************/
.StdUI_ComboBoxItem{
    clear: both;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    outline: none;
}

.StdUI_ComboBoxItem.selected{
    background: #3AA7DD;
    color: white;
}
.StdUI_ComboBoxItem > ._icon{
    float: left;
    height: 22px;
    width: 22px;
}
.StdUI_ComboBoxItem > ._icon > img{
    float: left;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.StdUI_ComboBoxItem > ._text{
    float: left;
    text-indent: 5px;
}
