
/*********** MessageBox ***************/
.StdUI_MessageBox{
    font-size: 12px;
    position: fixed;
    overflow: hidden;
    color: #565656;
    outline: none;
    border-radius: 2px;
    background: #EAE9E7;
}
.StdUI_MessageBox > ._title{
    position: relative;
    padding: 8px 6px 8px 6px;
    cursor: default;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.StdUI_MessageBox > ._title > ._text{
    font-weight: bold;
    font-size: 13px;
    margin-right: 30px;
}
.StdUI_MessageBox > ._title > ._buttons{
    right: 5px;
    top: 3px;
    position: absolute;
}
.StdUI_MessageBox > ._title > ._buttons > ._button{
    float: left;
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url("images/StdUI_MessageBox.png") no-repeat;
}
.StdUI_MessageBox > ._title > ._buttons > ._button._close{
    background-position: -3px -303px;
}
.StdUI_MessageBox > ._title > ._buttons > ._button._close.hover{
    background-position: -46px -303px;
}
.StdUI_MessageBox > ._title > ._buttons > ._button._close.press{
    background-position: -91px -303px;
}

/*********** MessageBox body ***************/
.StdUI_MessageBox > ._body{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.StdUI_MessageBox > ._body > ._client{
    padding: 12px;
    position: relative;
}
.StdUI_MessageBox > ._body > ._client > ._icon{
    display: inline-block;*display: inline;*zoom: 1;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 15px;
    background: url("images/StdUI_MessageBox.png") no-repeat;
}
.StdUI_MessageBox > ._body > ._client > ._icon > img{
    float: left;
    width: 100%;
    height: 100%;
}
.StdUI_MessageBox > ._body > ._client > ._content{
    display: inline-block;*display: inline;*zoom: 1;
    max-width: 600px;
    word-break:break-all;
    word-wrap:break-word;
}
.StdUI_MessageBox > ._body > ._client > ._content > ._text{
    margin-top: 12px;
}
.StdUI_MessageBox > ._body > ._client > ._content > ._input{
    margin-top: 8px;
}
.StdUI_MessageBox > ._body > ._client > ._content > ._informativeText{
    font-weight: bold;
    font-size: 14px;
}
.StdUI_MessageBox > ._body > ._buttons{
    border-top: 1px solid #CFCBCA;
    padding-left: 5px;
    background: #D9D5D3;
}
.StdUI_MessageBox > ._body > ._buttons > ._buttonSpacing{
    display: inline-block;*display: inline;*zoom: 1;
}
.StdUI_MessageBox > ._body > ._buttons > ._buttonGroup{
    display: inline-block;*display: inline;*zoom: 1;
}
.StdUI_MessageBox > ._body > ._buttons > ._buttonGroup > ._button{
    display: inline-block;*display: inline;*zoom: 1;
    outline: none;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    padding: 6px 18px 6px 18px;
    color: #474442;
    border:1px solid #B2AFAC;
    border-radius: 2px;
    background: #E0DDDA;
    background: linear-gradient(to bottom,#E1DEDB 0%,#D9D6D3 100%);
    box-shadow: 1px 1px 1px rgba(184,181,179,0.7),0 0 1px #E1DEDB inset;
    transition: all 0.13s;
}
.StdUI_MessageBox > ._body > ._buttons > ._buttonGroup > ._button.hover{
    border-color: #68C0FF;
}
.StdUI_MessageBox > ._body > ._buttons > ._buttonGroup > ._button:focus{
    color: white;
    border-color: #349ACD;
    background: #3CB1EB;
}
.StdUI_MessageBox > ._body > ._buttons > ._buttonGroup > ._button:focus.hover{
    background: #4DBFF0;
}
.StdUI_MessageBox > ._body > ._buttons > ._buttonGroup > ._button:focus.press{
    background: #369FD3;
}


.StdUI_MessageBox > ._body > ._detail{
    clear: both;
    margin: 5px;
    padding: 5px;
    background: white;
    border: 1px solid #E2E2E2;
    cursor: text;
}

/*********** MessageBox information ***************/
.StdUI_MessageBox._information{
    border: 1px solid #AEAEAE;
    box-shadow: 0 0 2px #A4A0A0,0 0 1px white inset;
}
.StdUI_MessageBox._information > ._title{

}
.StdUI_MessageBox._information > ._body > ._client > ._icon{
    background-position: 0 0;
}

/*********** MessageBox question ***************/
.StdUI_MessageBox._question{
    border: 1px solid #BBBBBB;
    box-shadow: 0 0 2px #7FA8D4,0 0 1px white inset;
}
.StdUI_MessageBox._question > ._title{

}
.StdUI_MessageBox._question > ._body > ._client > ._icon{
    background-position: 0 -55px;
}

/*********** MessageBox success***************/
.StdUI_MessageBox._success{
    color: #40720A;
    border: 1px solid #BBBBBB;
    box-shadow: 0 0 4px #A5AB9E,0 0 1px white inset;
}
.StdUI_MessageBox._success > ._title{
    color: #474747;
    border-bottom-color: #D9D5D3;
}
.StdUI_MessageBox._success > ._body > ._client > ._icon{
    background-position: 0 -230px;
}
.StdUI_MessageBox._success > ._body > ._buttons > ._buttonGroup > ._button.hover{
    border-color: #53DE5E;
}
.StdUI_MessageBox._success > ._body > ._buttons > ._buttonGroup > ._button:focus{
    color: white;
    border-color: #2CB738;
    background: #42B94C;
}
.StdUI_MessageBox._success > ._body > ._buttons > ._buttonGroup > ._button:focus.hover{
    background: #47C952;
}
.StdUI_MessageBox._success > ._body > ._buttons > ._buttonGroup > ._button:focus.press{
    background: #3CA845;
}

/*********** MessageBox warning ***************/
.StdUI_MessageBox._warning{
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}
.StdUI_MessageBox._warning > ._title{
    display: none;
}
.StdUI_MessageBox._warning > ._title > ._text{
    font-size: 18px;
    color: red;
}
.StdUI_MessageBox._warning > ._title > ._buttons{
    display: none;
}
.StdUI_MessageBox._warning > ._body > ._buttons{
    background: transparent;
    border-top: 0;
}
.StdUI_MessageBox._warning > ._body > ._client > ._icon{
    width: 96px;
    height: 96px;
    margin-right: 30px;
    background-position: -4px -373px;
}
.StdUI_MessageBox._warning > ._body > ._client > ._content{
    margin-top: 2px;
}
.StdUI_MessageBox._warning > ._body > ._client > ._content > ._informativeText{
    font-size: 24px;
    color: red;
    text-shadow: 0 1px 0 #FC7941;
}
.StdUI_MessageBox._warning > ._body > ._client > ._content > ._text{
    font-size: 16px;
    color: #C94E22;
}
.StdUI_MessageBox._warning > ._body > ._buttons > ._buttonGroup > ._button{
    font-size: 14px;
    font-weight: bold;
    margin-left: 6px;
    color: white;
    padding: 10px 35px 10px 35px;
    background:#FC8750;
    border-color: #ED804E;
    text-shadow: 0 1px 0 #C4673C;
    box-shadow: 0 0 4px #E5AE95;
}
.StdUI_MessageBox._warning > ._body > ._buttons > ._buttonGroup > ._button.hover{
    background: #FF6E2B;
    border-color: #DE7849;
}
.StdUI_MessageBox._warning > ._body > ._buttons > ._buttonGroup > ._button.press{
    background: #ED5812;
}

/*********** MessageBox error ***************/
.StdUI_MessageBox._error{
    color: white;
    border-color: #BF7070;
    box-shadow: 0 0 4px #9E6666;
    background: rgb(191,7,7);
    background: rgba(191,7,7,0.6);
}
.StdUI_MessageBox._error > ._title{
    color: white;
    border-bottom-color: #BF7070;
    text-shadow: 0 1px 0 black;
    background: transparent;
}
.StdUI_MessageBox._error > ._body > ._buttons{
    border-top: 1px solid #BF7070;
    padding-left: 5px;
    background: transparent;
}
.StdUI_MessageBox._error > ._body > ._buttons > ._buttonGroup > ._button{
    background: transparent;
    color: #FFEAEA;
    text-shadow: 0 1px 0 #CC2424;
    border-color: #EA6767;
    box-shadow: none;
}
.StdUI_MessageBox._error > ._body > ._buttons > ._buttonGroup > ._button.hover{
    background: #E53939;
    border-color: #EA6767;
}
.StdUI_MessageBox._error > ._body > ._buttons > ._buttonGroup > ._button.press{
    background: #D12323;
    border-color: #E54040;
}
.StdUI_MessageBox._error > ._body > ._detail{
    color: #EFEFEF;
    padding: 8px;

    border: 1px solid rgba(155,5,5,0.5);
    background: rgba(234,234,234,0.2);
}
.StdUI_MessageBox._error > ._body > ._client > ._icon{
    background-position: 0 -175px;
}

