
/************* Title Bar *************/
.StdUI_PanelTitle{
    font-size: 12px;
    position: relative;
    outline: none;
    overflow: hidden;
    background: linear-gradient(to bottom,#DFD8D4 0%,#D9D2CE 100%);
    box-shadow: 0 1px 1px #EFEFEF inset;
}
.StdUI_PanelTitle > ._icon{
    float: left;
    width:16px;
    height: 16px;
    margin: 3px 5px 0 4px;
    background: url("images/StdUI_Global.png") -352px -2px no-repeat;
}
.StdUI_PanelTitle > ._text{
    float: left;
    text-align: center;
    text-shadow: 0 1px 0 #F1F1F1;
}
.StdUI_PanelTitle > ._buttons{
    position: absolute;
    top: 0;
    right: 0;
}
.StdUI_PanelTitle > ._buttons > ._button{
    float: left;
    width: 16px;
    height: 16px;
    margin: 2px 4px 0 0;
    border: 1px solid transparent;
    border-radius: 100%;

}
.StdUI_PanelTitle > ._buttons > ._button._min{
    background: url("images/StdUI_Global.png") -125px -31px no-repeat;
}
.StdUI_PanelTitle > ._buttons > ._button._min:hover{
    background-position: -258px -31px;
}

.StdUI_PanelTitle > ._buttons > ._button._max{
    background: url("images/StdUI_Global.png") -125px -62px no-repeat;
}
.StdUI_PanelTitle > ._buttons > ._button._max:hover{
    background-position: -258px -62px;
}

.StdUI_PanelTitle > ._buttons > ._button._restore{
    background: url("images/StdUI_Global.png") -124px -2px no-repeat;
}
.StdUI_PanelTitle > ._buttons > ._button._restore:hover{
    background: url("images/StdUI_Global.png") -257px -2px no-repeat;
}

.StdUI_PanelTitle > ._buttons > ._button._close{
    background: url("images/StdUI_Global.png") -124px -96px no-repeat;
}
.StdUI_PanelTitle > ._buttons > ._button._close:hover{
    background-position: -257px -96px;
}

/********* Panel client ***********/
.StdUI_PanelClient{
    font-size: 12px;
    position: relative;
    outline: none;
    padding: 6px;
    overflow: hidden;
}
.StdUI_PanelCentral{
    padding: 5px;
    overflow: auto;
    outline: none;
}

/************* Panel *************/
.StdUI_Panel{
    color: #474442;
    outline: none;
    position: relative;
    background: #D9D2CE;
    border:1px solid #ACA9A6;
    border-radius: 3px;
    transition: background 0.2s,opacity 0.2s,border-color 0.2s,box-shadow 0.1s;
    box-shadow: 0 0 2px #B1AEAC,0 0 1px #EFEFEF inset;
}
.StdUI_Panel.focus{
    border-color: #94B7C3;
    box-shadow: 0 0 3px #3AAAE2,0 0 1px #E1DEDB inset;
}