/************* Radiobox *************/
.StdUI_RadioBox{
    float: left;
    font-size: 12px;
    cursor: default;
    height: 18px;
    overflow: hidden;
    outline: none;
}
.StdUI_RadioBox > ._icon{
    float: left;
}
.StdUI_RadioBox > ._text{
    float: left;
    color: #484848;
    line-height: 18px;
    text-indent: 5px;
}
.StdUI_RadioBox.disabled{
    color: #989593;
    cursor: not-allowed;
}

/************* RadioBox Icon *************/
.StdUI_RadioBox_Icon{
    float: left;
    width:18px;
    height: 18px;
    background: url("images/StdUI_Global.png") -9px -301px no-repeat;
}
.StdUI_RadioBox.focus > .StdUI_RadioBox_Icon,
.StdUI_RadioBox_Icon.focus{
    background-position: -95px -301px;
}
.StdUI_RadioBox.hover > .StdUI_RadioBox_Icon,
.StdUI_RadioBox_Icon.hover{
    background-position: -179px -301px;
}
.StdUI_RadioBox.press > .StdUI_RadioBox_Icon,
.StdUI_RadioBox_Icon.press{
    box-shadow: none;
}
.StdUI_RadioBox.checked > .StdUI_RadioBox_Icon,
.StdUI_RadioBox_Icon.checked{
    background-position: -269px -301px;
}
.StdUI_RadioBox.checked.hover > .StdUI_RadioBox_Icon,
.StdUI_RadioBox_Icon.checked.hover{
    background-position: -361px -301px;
}
.StdUI_RadioBox.disabled > .StdUI_RadioBox_Icon,
.StdUI_RadioBox_Icon.disabled{
    background-position: -543px -301px;
}
.StdUI_RadioBox.disabled.checked > .StdUI_RadioBox_Icon,
.StdUI_RadioBox_Icon.disabled.checked{
    background-position: -452px -301px;
}
