
/************* slider *************/
.StdUI_Slider{
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: default;
}
.StdUI_Slider > ._client{
    position: relative;
    overflow: hidden;
    height: 5px;
    background: #9D9796;
    border-radius: 150px;
}
.StdUI_Slider > ._client > ._progress{
    background: #5FA8DB;
}
.StdUI_Slider > ._handle{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: #E2DCD6;
    overflow: hidden;
    border: 1px solid #ACA9A6;
    border-radius: 100%;
    outline: none;
    transition: background 0.1s,border-color 0.13s;
}
.StdUI_Slider > ._handle:hover{
    border-color: #6FD6FE;
}
.StdUI_Slider.press > ._handle{
    background: #D8D8D8;
}
.StdUI_Slider.focus > ._handle{
    border-color: #5FA8DB;
}


/************* HSlider *************/
.StdUI_Slider._horizontal > ._client{
    height: 5px;
}
.StdUI_Slider._horizontal > ._client > ._progress{
    height: 100%;
    width:0;
}

/************* VSlider *************/
.StdUI_Slider._vertical > ._client{
    width: 5px;
    height: 100%;
}
.StdUI_Slider._vertical > ._client > ._progress{
    position: absolute;
    bottom:0;
    height: 0;
    width: 100%;
}
