/********* Data Tree *********/
.StdUI_Tree{
    position: relative;
    font-size: 12px;
    overflow: auto;
    outline: none;
}
/*
 * anchor
*/
.StdUI_Tree a._anchor{
    display: inline-block;*display: inline;*zoom: 1;
    vertical-align: middle;
    color: #2B2B2B;
    padding: 1px 3px 1px 3px;
    border: 1px solid transparent;
    transition: border-color,background 0.3s;
}
.StdUI_Tree a._anchor.hover{
    background: #B3D5E5;
    border-color: #B3D5E5;
}
.StdUI_Tree a._anchor.selected{
    color: white;
    background: #43ACE8;
    border-color: #43ACE8;
}
.StdUI_Tree_CloneAnchor{
    padding: 5px 5px 5px 25px;
    height: 25px;
    border-color: #BBBBBB;
    box-shadow: 0 0 4px #BBBBBB;
    background: #F4F4F4 url("images/StdUI_Tree.png") 2px -160px;
    background-repeat: no-repeat;

}
.StdUI_Tree_CloneAnchor > i._icon{
    float: left;
    height: 16px;
    width: 16px;
    margin-top: 5px;
}
.StdUI_Tree_CloneAnchor > i._icon > img{
    float: left;
    width: 100%;
    height: 100%;
}
.StdUI_Tree_CloneAnchor > span{
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}
.StdUI_Tree_CloneAnchor._before,
.StdUI_Tree_CloneAnchor._after{
    background-position: 2px -128px;
}
.StdUI_Tree_CloneAnchor._in{
    background-image: url("images/StdUI_Tree.png");
    background-position: 2px -95px;
}
/*
 * hand
*/
.StdUI_Tree i._hand{
    display: inline-block;*display: inline;*zoom: 1;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url("images/StdUI_Tree.png") 0 -2px no-repeat;
}
.StdUI_Tree i._loading{
    background: url("images/loading_12.gif") no-repeat;
}
.StdUI_Tree i._hand._empty{
    cursor: default;
    background: none;
}
.StdUI_Tree i._hand.hover{
    background-position: -52px -2px;
}
.StdUI_Tree i._hand._expanded{
    background-position: -24px -2px;
}
.StdUI_Tree i._hand._expanded.hover{
    background-position: -80px -2px;
}
/*
 * checkbox
*/
.StdUI_Tree i._checkbox{
    display: inline-block;*display: inline;*zoom: 1;
    vertical-align: middle;
    width:16px;
    height: 16px;
    background: url("images/StdUI_Global.png") -11px -249px no-repeat;
}
.StdUI_Tree i._checkbox.hover{
    background-position: -180px -249px;
}
.StdUI_Tree i._checkbox.checked{
    background-position: -270px -248px;
}
.StdUI_Tree i._checkbox.checked.hover{
    background-position: -362px -248px;
}
.StdUI_Tree a._anchor.selected > i._checkbox{
    background-position: -544px -249px;
}
.StdUI_Tree a._anchor.selected > i._checkbox.checked{
    background-position: -453px -249px;
}
/*
 * icon
*/
.StdUI_Tree i._icon{
    display: inline-block;*display: inline;*zoom: 1;
    vertical-align: middle;
    position: relative;
    margin-right: 2px;
}
.StdUI_Tree i._icon._defaultIcon{
    background: url("images/StdUI_Tree.png") no-repeat;
}
.StdUI_Tree i._icon._defaultIcon._folder{
    background-position: -1px -29px;
}
.StdUI_Tree i._icon._defaultIcon._file{
    background-position: -76px -26px;
}
.StdUI_Tree i._icon > img{
    float: left;
    width: 100%;
    height: 100%;
}
/*
 * text
*/
.StdUI_Tree a._anchor > span{
    cursor: default;
    overflow: hidden;
}
/*
 * container
*/
.StdUI_Tree ul._container_ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.StdUI_Tree li._container_li{
    margin: 0;
    list-style: none;
    word-break:keep-all;
    white-space:nowrap;
}
/*
 * input
*/
.StdUI_Tree input._input{
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
}
/*
 * input
*/
.StdUI_Tree ._position{
    display: none;
    position: absolute;
    height: 0;
    border: 1px solid red;
}